---
import PrintIcon from "./icons/PrintIcon.astro";

const { slot } = Astro.props;

const print = () => window.print();
---

<aside
  class="hidden 2xl:block 2xl:h-full 2xl:w-[250px] 2xl:fixed 2xl:top-0 2xl:left-0 print:hidden"
  slot={slot}
>
  <div
    class="flex flex-col gap-4 justify-center items-center h-full border-r-2"
  >
    <button
      type="button"
      class="inline-flex items-center gap-x-3 rounded-md bg-[#B59223] px-4 py-3 text-sm font-semibold text-white shadow-sm hover:bg-[#e1c160] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      onclick="print()"
    >
      Print
      <PrintIcon />
    </button>
  </div>
</aside>
